package views

import "jmhart.dev/ns-bingo/objects"
import "strconv"


templ Players(boards []*objects.Board){
  <div>
    <h3>Players:</h3>
    for _,board := range boards {
      <div> 
        {board.Username} - {strconv.Itoa(board.GetWins())}
      </div>
    }
  </div>
}


